<a href="https://colab.research.google.com/gist/HariSan1/0245dca9ba3b32caf9b59ff81a4bd9b5/folium-nj-2017-crashes-gist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NJ 2017 Traffic Accidents visualization program using Python and Folium**

I collected traffic accident data from the State of New Jersey (NJ), USA for the year 2017, the latest year for which there is data on the NJ state government web site. I am glad for the open policy of sharing data with the citizens, though the data organization is somewhat quirky (my opinion!), and it is not, as might be expected, straight forward.
**I collected, cleaned, analyzed the data, then created a heat map with time that shows accidents by location, for the year, over a map of NJ, for visualization.** The article will be published in medium.com.

Before going forward, to those who may not be familiar, the state of New Jersey is located to the west of New York City and extends west and south (and a little north). After all, what is the point of a located-based analysis, without, er, some location background? Basically, anyone going from New York City to the rest of the US (except North to the New England region and Canada) by automobile has to pass through NJ, and the state does have an excellent connection of highways; it also has a dense population of suburbs and once you get past many kilometers of tightly knit older towns, there are suburban, pastoral and even rural areas. Because automobile use is so high, for daily commuting as well as everyday tasks and through traffic from Washington DC and Philadelphia to New York and Boston, the accident rate is high, especially during snow storms and adverse weather. Many people use the highways often to go to the shore in the summer, skiing in winter, and to visit friends and family all over, in addition to work and education.
Data prep and cleansing
Search [and research] data. I obtained the data from the New Jersey State government site. Latitude and Longitude (Lat, Long) are geographic coordinate points that can map locations on any point on Earth. Read here for more information about them.
Clean and format the data. Read below:

I used the summary data for the whole state for 2017, the latest year for which there is data. There is a separate file that lists the headers and their descriptions. I copied the header file into Excel, parsed it, then pasted that using a text editor.
The header file - I copied from the pdf into Excel then parsed it.2nd step: Deleted some items, saved as csv file.Out of approximately 277k+ rows, only 70k+ had Latitude and Longitude coordinates (26%). Since the objective of the program is a visual representation overlay of accident data across NJ, this became a challenge. Here's what I did:
Separated the rows with no Lat, Long coordinates into a new pandas dataframe.
Since these rows had a town name (but no lat, long coordinates for the exact accident location in that town), I decided to do a heatmap for the towns for this data separately from the ones with the Lat, Long coordinates.
So there are two sets of heat maps, one for the dataset with precise Latitude and Longitude coordinates, the other for the other data with only town information, for which I used code to get the town Lat, Long coordinates - this dataset is far larger, comprising 74% of the total data! This is real-life data - often incomplete and in need of cleansing and "prepping" (preparing). 
I converted Lat and Long fields from string to numeric.
For the first dataset with Lat and Long coordinates, I found that the negative sign for the Longitude wasn't there, so I multiplied all of them by -1 to get that.
The first column wasn't that useful to me, so I labeled it "mumbo-jumbo". It is a concatenation of some information.
Check the data for missing Lat and Long field info and split the file into two dataframes - one with good data and one with missing data. More on that after the initialization code snippet below.

In [0]:
#above steps are ONLY for Colab users, to copy the data file from My Drive
#from google.colab import drive
#drive.mount('/content/drive/')

In [0]:
#take the following step ONLY if HeatMapWithTime doesn't work properly way down below.  If it does, then ignore this.  If you un-install it, you need to re-install it :)
!pip uninstall folium -y

Uninstalling folium-0.7.0:
  Successfully uninstalled folium-0.7.0

In [0]:
!pip install folium

Collecting folium
  Using cached https://files.pythonhosted.org/packages/55/e2/7e523df8558b7f4b2ab4c62014fd378ccecce3fdc14c9928b272a88ae4cc/folium-0.7.0-py3-none-any.whl
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from folium) (0.3.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from folium) (2.18.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from folium) (2.10)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from folium) (1.14.6)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from folium) (1.11.0)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (2018.11.29)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->folium) (1.1.0)
datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.7.0 which is incompatible.
Installing collected packages: folium
Successfully installed folium-0.7.0

In [0]:
import folium
import folium.plugins as plugins
from folium.plugins import HeatMapWithTime

In [0]:
import pandas as pd
import folium
column_names =['Mumbo-jumbo','County Name','Municipality Name','Crash Date','Crash Day Of Week','Crash Time','Police Dept Code','Police Department','Police Station','Total Killed','Total Injured',
              'Pedestrians Killed','Pedestrians Injured','Severity','Intersection','Alcohol Involved','HazMat Involved','Crash Type Code','Total Vehicles Involved','Crash Location','Location Direction',
               'Route','Route Suffix','SRI (Std Rte Identifier)','MilePost','Road System','Road Character','Road Horizontal Alignment','Road Grade','Road Surface Type','Surface Condition','Light Condition',
               'Environmental Condition','Road Divided By','Temporary Traffic Control Zone','Distance To Cross Street','Unit Of Measurement','Directn From Cross Street','Cross Street Name',
               'Is Ramp','Ramp To/From Route Name','Ramp To/From Route Direction','Posted Speed','Posted Speed Cross Street','First Harmful Event','Latitude','Longitude',
               'Cell Phone In Use Flag','Other Property Damage','Reporting Badge No']
#df1 = pd.read_csv('/content/drive/My Drive/Colab/Somerset2017Accidents.txt', header=None)
df1 = pd.read_csv('/content/drive/My Drive/Colab/NewJersey2017Accidents.txt', header=None)
df1.columns = column_names

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df1.shape

(277508, 50)

In [0]:
df1.head()

,Mumbo-jumbo,County Name,Municipality Name,Crash Date,Crash Day Of Week,Crash Time,Police Dept Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Route Direction,Posted Speed,Posted Speed Cross Street,First Harmful Event,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No
0,201701011708-0494,ATLANTIC,ABSECON CITY,08/10/2017,TH,1735,1.0,ATLANTIC CITY PD,,0.0,...,,,50,35,26,,,N,...,
1,201701011708-0497,ATLANTIC,ABSECON CITY,08/10/2017,TH,1736,1.0,ATLANTIC CITY PD,,0.0,...,,,50,35,26,,,N,...,530
2,201701011709-1131,ATLANTIC,ABSECON CITY,09/27/2017,WE,2127,1.0,ATLANTIC CITY PD,,0.0,...,,,50,35,48,,,N,...,530
3,201701011709-1132,ATLANTIC,ABSECON CITY,09/27/2017,WE,2128,1.0,ATLANTIC CITY PD,,0.0,...,,,50,35,26,,,N,...,530
4,201701011712-0555,ATLANTIC,ABSECON CITY,12/18/2017,MO,1321,1.0,ATLANTIC CITY PD,TRAFFIC,0.0,...,,,50,,26,,,N,...,630

In [0]:
#some queries on our data, peek and see some content
#print(df1.loc[(df1['Cell Phone In Use Flag'] == 'Y'),['Posted Speed','Police Station','Latitude','Longitude']])
#print(df1.loc[(df1['Crash Day Of Week'] == 'FR'),['Municipality Name','Posted Speed','Police Station','Latitude','Longitude']])
#print(df1.loc[(df1['Municipality Name'] == 'WATCHUNG BORO'), ['Municipality Name','Posted Speed','Police Station','Latitude','Longitude']])

In [0]:
#convert 'Crash Date' field to python pandas readable month/ day/ year format 
df1['Crash Date'] = pd.to_datetime(df1['Crash Date'], format = '%m/%d/%Y')

In [0]:
#convert Latitude, Longitude columns from string to numeric
cols_to_convert = ['Latitude', 'Longitude']
for col in cols_to_convert:
  df1[col] = pd.to_numeric(df1[col], errors='coerce')

In [0]:
print(df1.dtypes)

Mumbo-jumbo                               object
County Name                               object
Municipality Name                         object
Crash Date                        datetime64[ns]
Crash Day Of Week                         object
Crash Time                                object
Police Dept Code                         float64
Police Department                         object
Police Station                            object
Total Killed                             float64
Total Injured                            float64
Pedestrians Killed                       float64
Pedestrians Injured                      float64
Severity                                  object
Intersection                              object
Alcohol Involved                          object
HazMat Involved                           object
Crash Type Code                           object
Total Vehicles Involved                  float64
Crash Location                            object
Location Direction                        object
Route                                     object
Route Suffix                              object
SRI (Std Rte Identifier)                  object
MilePost                                  object
Road System                               object
Road Character                            object
Road Horizontal Alignment                 object
Road Grade                                object
Road Surface Type                         object
Surface Condition                         object
Light Condition                           object
Environmental Condition                   object
Road Divided By                           object
Temporary Traffic Control Zone            object
Distance To Cross Street                  object
Unit Of Measurement                       object
Directn From Cross Street                 object
Cross Street Name                         object
Is Ramp                                   object
Ramp To/From Route Name                   object
Ramp To/From Route Direction              object
Posted Speed                              object
Posted Speed Cross Street                 object
First Harmful Event                       object
Latitude                                 float64
Longitude                                float64
Cell Phone In Use Flag                    object
Other Property Damage                     object
Reporting Badge No                        object
dtype: object

In [0]:
df1.isna().sum(axis = 0)

Mumbo-jumbo                         0
County Name                         0
Municipality Name                   0
Crash Date                          0
Crash Day Of Week                   0
Crash Time                          0
Police Dept Code                    0
Police Department                   0
Police Station                      0
Total Killed                        0
Total Injured                       0
Pedestrians Killed                  0
Pedestrians Injured                 0
Severity                            0
Intersection                        0
Alcohol Involved                    0
HazMat Involved                     0
Crash Type Code                     0
Total Vehicles Involved             0
Crash Location                      0
Location Direction                  0
Route                               0
Route Suffix                        0
SRI (Std Rte Identifier)            0
MilePost                            0
Road System                         0
Road Character                      0
Road Horizontal Alignment           0
Road Grade                          0
Road Surface Type                   0
Surface Condition                   0
Light Condition                     0
Environmental Condition             0
Road Divided By                     0
Temporary Traffic Control Zone      0
Distance To Cross Street            0
Unit Of Measurement                 0
Directn From Cross Street           0
Cross Street Name                   0
Is Ramp                             0
Ramp To/From Route Name             0
Ramp To/From Route Direction        0
Posted Speed                        0
Posted Speed Cross Street           0
First Harmful Event                 0
Latitude                            0
Longitude                           0
Cell Phone In Use Flag              0
Other Property Damage               6
Reporting Badge No                802
dtype: int64

In [0]:
	
#print(df1.isnull().sum())
#put all records with no data(NaN) for Lat and Long in separate dataframe (df2)
df2 = df1.loc[df1.Latitude.isnull()]
#df2 = df1.loc[df1.Latitude.isnull()] & df1.loc[df1.Longitude.isnull()]
df2.shape
#df2.head()

#drop records with NaN in Lat and Long from df1 (they are saved above in df2)
df1 = df1.dropna(subset=['Latitude','Longitude'])
df1.shape

(73325, 50)

In [0]:
df2.shape

(204183, 50)

In [0]:
#Longitude values in the original data didn't have the negative (-) sign - this code below fixes that by replacing all Lat values with Lat * -1.
#df1.replace(df1.loc[(df1['Longitude']), df1 * -1.0])
df1['Longitude']=df1['Longitude']* -1

In [0]:
#list accidents where one or more person killed - very serious ones
print(df1.loc[(df1['Total Killed'] >= 1.0), ['Municipality Name','Latitude','Longitude', 'Total Killed']])

               Municipality Name  Latitude  Longitude  Total Killed
2202    BUENA BORO                39.51293  -74.97905           1.0
2670    EGG HARBOR TWP            39.40520  -74.56310           1.0
2700    EGG HARBOR TWP            39.35784  -74.65009           1.0
2858    EGG HARBOR TWP            39.37008  -74.61428           1.0
2958    EGG HARBOR TWP            39.39997  -74.55230           1.0
3161    EGG HARBOR TWP            39.43721  -74.61458           1.0
3383    EGG HARBOR TWP            39.37940  -74.49257           1.0
3492    EGG HARBOR TWP            39.39670  -74.54873           1.0
3589    EGG HARBOR TWP            39.34932  -74.67085           1.0
3785    EGG HARBOR TWP            39.39763  -74.55200           1.0
4262    FOLSOM BORO               39.59821  -74.86389           1.0
4289    FOLSOM BORO               39.60346  -74.88128           1.0
5189    HAMILTON TWP              39.52619  -74.81947           1.0
5309    HAMILTON TWP              39.43148  -74.69208           1.0
5338    HAMILTON TWP              39.44247  -74.79372           2.0
5353    HAMILTON TWP              39.44676  -74.74565           1.0
5475    HAMILTON TWP              39.42728  -74.64285           1.0
5813    HAMILTON TWP              39.44657  -74.68614           1.0
5859    HAMILTON TWP              39.55212  -74.81070           1.0
5959    HAMILTON TWP              39.44795  -74.62213           1.0
5992    HAMILTON TWP              39.48982  -74.65333           1.0
6021    HAMILTON TWP              39.54839  -74.72929           1.0
6051    HAMILTON TWP              39.57983  -74.77720           1.0
7687    PORT REPUBLIC CITY        39.53573  -74.49304           1.0
8312    ALPINE BORO               40.94445  -73.92194           1.0
12381   ENGLEWOOD CITY            40.87503  -73.98452           1.0
19543   HACKENSACK CITY           40.86360  -74.03470           1.0
30643   RIDGEFIELD PARK VILLAGE   40.85694  -74.02194           2.0
33129   SADDLE BROOK TWP          40.90393  -74.10446           1.0
37758   BASS RIVER TWP            39.59096  -74.46003           1.0
...                          ...       ...        ...           ...
241089  BEDMINSTER TWP            40.64299  -74.63875           1.0
241180  BERNARDS TWP              40.64346  -74.60506           2.0
244153  BRIDGEWATER TWP           40.60197  -74.62751           1.0
244242  BRIDGEWATER TWP           40.58063  -74.58287           1.0
250266  WARREN TWP                40.64711  -74.50981           1.0
251055  WATCHUNG BORO             40.65775  -74.44044           1.0
251069  WATCHUNG BORO             40.70603  -74.25135           1.0
251805  GREEN TWP                 40.99723  -74.82394           1.0
251983  HAMPTON TWP               41.09759  -74.74867           1.0
252504  LAFAYETTE TWP             41.10785  -74.68070           1.0
252540  LAFAYETTE TWP             41.08652  -74.67340           1.0
252677  MONTAGUE TWP              41.33970  -74.67690           1.0
254536  BERKELEY HEIGHTS TWP      40.68840  -74.38231           1.0
255387  CLARK TWP                 40.63814  -74.29146           2.0
256348  CRANFORD TWP              40.64471  -74.28760           1.0
261412  ELIZABETH CITY            40.65448  -74.19150           1.0
262603  HILLSIDE TWP              40.70715  -74.25365           1.0
264894  LINDEN CITY               40.63137  -74.21141           1.0
264905  LINDEN CITY               40.62744  -74.21396           1.0
264990  LINDEN CITY               40.62588  -74.21563           1.0
270851  UNION TWP                 40.71286  -74.27199           1.0
270879  UNION TWP                 40.71464  -74.28914           1.0
274402  ALLAMUCHY TWP             40.92434  -74.78701           1.0
275197  GREENWICH TWP             40.66251  -75.08329           1.0
275625  HOPE TWP                  40.92416  -74.95600           1.0
275783  KNOWLTON TWP              40.92325  -75.06410           1.0
275934  KNOWLTON TWP              40.92372  -75.05185           1.0
277031  POHATCONG TWP             40.65324  -75.15042           1.0
277032  POHATCONG TWP             40.66780  -75.13821           1.0
277262  WASHINGTON TWP            40.75400  -74.99770           1.0

[276 rows x 4 columns]

In [0]:
df3 = df1[df1['Total Killed']< 1.0]

In [0]:
df3.shape

(73049, 50)

In [0]:
from folium.plugins import HeatMap
#first, copy all data [all 2017 county accidents] to our map dataframe
df_map = df1.copy()
#df_map = df1[df1['Total Killed']>= 1.0].copy()
df_map['count']=1
df_map[['Latitude', 'Longitude', 'count']].groupby(['Latitude', 'Longitude']).sum().sort_values('count', ascending=False).head(10)

df_map.shape

(73325, 51)

In [0]:
print(df1['Severity'].unique())

['P' 'I' 'F']

In [0]:
def generateBaseMap(default_location=[40.5397293,-74.6273494], default_zoom_start=12):
    base_map = folium.Map(location=default_location, control_scale=True, zoom_start=default_zoom_start)
    return base_map

base_map = generateBaseMap()
base_map
m = HeatMap(data=df_map[['Latitude', 'Longitude', 'count']].groupby(['Latitude','Longitude']).sum().reset_index().values.tolist(), radius=7, max_zoom=10).add_to(base_map)
m.save('/content/drive/My Drive/Colab/heatmap.html')

In [0]:
!pip -q install folium

In [0]:
#define a base map generator function-note - if folium doesn't work #properly(it didn't, at first, for me :) - try notes in next box - I #saved to file as pressing run didn't output results


def generateBaseMap(default_location=[40.5397293,-74.6273494], default_zoom_start=12):
    base_map = folium.Map(location=default_location, control_scale=True, zoom_start=default_zoom_start)
    return base_map
base_map = generateBaseMap()
base_map
m = HeatMap(data=df_map[['Latitude', 'Longitude', 'count']].groupby(['Latitude','Longitude']).sum().reset_index().values.tolist(), radius=7, max_zoom=10).add_to(base_map)
m.save('/content/drive/My Drive/Colab/heatmap.html')

In [0]:

df_map.head()

,Mumbo-jumbo,County Name,Municipality Name,Crash Date,Crash Day Of Week,Crash Time,Police Dept Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Direction,Posted Speed,Posted Speed Cross Street,First Harmful Event,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No,count
1917,20170102A160-2017-00001A,ATLANTIC,ATLANTIC CITY,2017-01-01,SU,0131,2.0,NEW JERSEY STATE POLICE,ATLANTIC CITY E,0.0,...,,,,26,39.36445,-74.44420,N,...,7527,1
1918,20170102A160-2017-00004A,ATLANTIC,ATLANTIC CITY,2017-01-03,TU,1040,2.0,NEW JERSEY STATE POLICE,ATLANTIC CITY E,0.0,...,,,,48,39.37452,-74.44194,N,...,7412,1
1919,20170102A160-2017-00006A,ATLANTIC,ATLANTIC CITY,2017-01-04,WE,0744,2.0,NEW JERSEY STATE POLICE,ATLANTIC CITY E,0.0,...,,,,47,39.37815,-74.48359,N,...,7498,1
1920,20170102A160-2017-00007A,ATLANTIC,ATLANTIC CITY,2017-01-05,TH,2253,2.0,NEW JERSEY STATE POLICE,ATLANTIC CITY E,0.0,...,,,,26,39.38119,-74.42842,N,...,7673,1
1921,20170102A160-2017-00013A,ATLANTIC,ATLANTIC CITY,2017-01-07,SA,1159,2.0,NEW JERSEY STATE POLICE,ATLANTIC CITY E,0.0,...,,,,48,39.36445,-74.44420,N,PAINT TRANSFER TO BARRIER WALL. ...,7482,1

In [0]:
#print the unique listing of 'Other Property Damage' - might be useful for State Road Planning and Repair, Insurance Companies, Road safety planning and testing etc.
print(df1['Other Property Damage'].unique())

['                                                                                '
 'PAINT TRANSFER TO BARRIER WALL.                                                 '
 'CONCRETE BARRIER - SJTA P.O. BOX 389 HAMMONTON  NJ                              '
 ...
 'USPS MAILBOX LOCATED IN FRONT OF 37 COLBY CT  WHITE TWP  WARREN COUNTY.         '
 'Utility pole (A2755114)'
 'JCP&L UTILITY POLE NJ405WH                                                      ']

In [0]:
#group environmental conditions, dates and count them.
#gives us an idea of which environmental conditions had the highest crashes
#the state did not list which environmental condition # was labeled as which (1=snow, etc.)
#I am guessing that #03 had something to do with snow based on 'Crash Date'; I was caught in a few snow storms myself on some of those dates :)
print(df1['Environmental Condition'].unique())
df_map[['Environmental Condition','Crash Date','count']].groupby(['Environmental Condition','Crash Date']).sum().sort_values('count', ascending=False)

['01' '02' '03' '04' '05' '10' '00' '07' '06' '99' '08' '  ']

                                    count
Environmental Condition Crash Date
02                      2017-10-29    328
01                      2017-11-17    314
                        2017-11-21    300
                        2017-10-20    293
03                      2017-01-07    291
01                      2017-10-27    291
                        2017-06-13    290
                        2017-10-04    287
                        2017-10-19    287
                        2017-05-19    283
                        2017-12-18    281
                        2017-12-01    279
03                      2017-12-09    277
01                      2017-11-20    275
                        2017-06-20    273
                        2017-10-17    271
                        2017-10-06    269
                        2017-12-07    269
                        2017-05-17    265
                        2017-11-02    264
                        2017-10-02    263
                        2017-11-29    261
                        2017-03-16    261
                        2017-11-14    260
03                      2017-12-15    260
02                      2017-05-13    258
01                      2017-06-15    256
                        2017-09-28    255
                        2017-09-07    254
02                      2017-03-31    254
...                                   ...
                        2017-06-22      1
                        2017-06-28      1
05                      2017-03-12      1
02                      2017-06-29      1
                        2017-07-09      1
                        2017-07-10      1
                        2017-07-18      1
                        2017-04-18      1
                        2017-04-05      1
                        2017-01-09      1
                        2017-02-23      1
                        2017-01-13      1
                        2017-01-19      1
                        2017-01-25      1
                        2017-01-28      1
                        2017-01-30      1
                        2017-02-03      1
                        2017-02-14      1
                        2017-02-17      1
                        2017-02-26      1
                        2017-03-24      1
                        2017-03-03      1
                        2017-03-06      1
                        2017-03-11      1
05                      2017-04-18      1
02                      2017-03-19      1
                        2017-03-22      1
05                      2017-04-11      1
02                      2017-03-23      1
                        2017-01-03      1

[1261 rows x 1 columns]

# **Part II: Create Heat Maps of the 2nd dataset **
# with town names only, not specific address within towns **bold text** **bold text**

Earlier, we split the dataset and created a 'df2' for those records without specific Latitude and Longitude coordinates. The reasons for this could be many - the data was corrupted at the time of capture, or the police officers were too busy with first responder duties to input precise information, or perhaps the data capture tablets/notebooks/laptops didn't work properly. Whatever the reason, let's get location data for the towns, which turned out to be more complicated and cumbersome than I had imagined. It could simply be that I didn't think of an optimal way. This is the way it ended up. In real work situations, many a time you will have to go for the 'most viable solution', which means the best that is possible given the time constraints and incomplete data.

In [0]:
#print(df2['Municipality Name'].unique())

#group and count by city - since there are no Lat, Long markers, it would be good to know where the accidents were, grouped by town
df2['count']=1
df5 = df2[['Municipality Name', 'count']].groupby(['Municipality Name']).sum().sort_values('count', ascending=False)
df5.shape
df5.head
#df2[['Municipality Name', 'count']].groupby(['Municipality Name', 'count']).sum().sort_values('count', ascending=False)
pd.DataFrame(df5).to_csv('/content/drive/My Drive/Colab/town_list.csv')

In [0]:
#function to see if variable is a dataframe
def f(var):
    if isinstance(var, pd.DataFrame):
        print("dataframe")
    else:
        print("not a dataframe, prob a list")

f(df5)

dataframe

In [0]:
#create a list of unique town names from df2 for use later to make a call to function to get Lat, Long - easy to read each value from a list
town_names=[]
df2.dropna(subset=['Municipality Name'])
town_names = df2['Municipality Name'].unique()
print(town_names)

['ABSECON CITY            ' 'ATLANTIC CITY           ' nan
 'BRIGANTINE CITY         ' 'BUENA BORO              '
 'BUENA VISTA TWP         ' 'EGG HARBOR CITY         '
 'EGG HARBOR TWP          ' 'ESTELL MANOR CITY       '
 'GALLOWAY TWP            ' 'HAMILTON TWP            '
 'HAMMONTON TOWN          ' 'LINWOOD CITY            '
 'LONGPORT BORO           ' 'MARGATE CITY            '
 'MULLICA TWP             ' 'NORTHFIELD CITY         '
 'PLEASANTVILLE CITY      ' 'PORT REPUBLIC CITY      '
 'SOMERS POINT CITY       ' 'VENTNOR CITY            '
 'ALLENDALE BORO          ' 'ALPINE BORO             '
 'BERGENFIELD BORO        ' 'BOGOTA BORO             '
 'CARLSTADT BORO          ' 'CLIFFSIDE PARK BORO     '
 'CLOSTER BORO            ' 'DEMAREST BORO           '
 'DUMONT BORO             ' 'ELMWOOD PARK BORO       '
 'EAST RUTHERFORD BORO    ' 'EDGEWATER BORO          '
 'EMERSON BORO            ' 'ENGLEWOOD CITY          '
 'ENGLEWOOD CLIFFS BORO   ' 'FAIR LAWN BORO          '
 'FAIRVIEW BORO           ' 'FORT LEE BORO           '
 'FRANKLIN LAKES BORO     ' 'GARFIELD CITY           '
 'GLEN ROCK BORO          ' 'HACKENSACK CITY         '
 'HARRINGTON PARK BORO    ' 'HASBROUCK HEIGHTS BORO  '
 'HAWORTH BORO            ' 'HILLSDALE BORO          '
 'HO HO KUS BORO          ' 'LEONIA BORO             '
 'LITTLE FERRY BORO       ' 'LODI BORO               '
 'LYNDHURST TWP           ' 'MAHWAH TWP              '
 'MAYWOOD BORO            ' 'MIDLAND PARK BORO       '
 'MONTVALE BORO           ' 'MOONACHIE BORO          '
 'NEW MILFORD BORO        ' 'NORTH ARLINGTON BORO    '
 'NORTHVALE BORO          ' 'NORWOOD BORO            '
 'OAKLAND BORO            ' 'OLD TAPPAN BORO         '
 'ORADELL BORO            ' 'PALISADES PARK BORO     '
 'PARAMUS BORO            ' 'PARK RIDGE BORO         '
 'RAMSEY BORO             ' 'RIDGEFIELD BORO         '
 'RIDGEFIELD PARK VILLAGE ' 'RIDGEWOOD VILLAGE       '
 'RIVER EDGE BORO         ' 'RIVER VALE TWP          '
 'ROCHELLE PARK TWP       ' 'ROCKLEIGH BORO          '
 'RUTHERFORD BORO         ' 'SADDLE BROOK TWP        '
 'SADDLE RIVER BORO       ' 'SOUTH HACKENSACK TWP    '
 'TEANECK TWP             ' 'TENAFLY BORO            '
 'TETERBORO BORO          ' 'UPPER SADDLE RIVER BORO '
 'WALDWICK BORO           ' 'WALLINGTON BORO         '
 'WASHINGTON TWP          ' 'WESTWOOD BORO           '
 'WOODCLIFF LAKE BORO     ' 'WOOD-RIDGE BORO         '
 'WYCKOFF TWP             ' 'BASS RIVER TWP          '
 'BORDENTOWN CITY         ' 'BORDENTOWN TWP          '
 'BURLINGTON CITY         ' 'BURLINGTON TWP          '
 'CHESTERFIELD TWP        ' 'CINNAMINSON TWP         '
 'DELANCO TWP             ' 'DELRAN TWP              '
 'EASTAMPTON TWP          ' 'EDGEWATER PARK TWP      '
 'EVESHAM TWP             ' 'FIELDSBORO BORO         '
 'FLORENCE TWP            ' 'HAINESPORT TWP          '
 'LUMBERTON TWP           ' 'MANSFIELD TWP           '
 'MAPLE SHADE TWP         ' 'MEDFORD TWP             '
 'MEDFORD LAKES BORO      ' 'MOORESTOWN TWP          '
 'MOUNT HOLLY TWP         ' 'MOUNT LAUREL TWP        '
 'NEW HANOVER TWP         ' 'NORTH HANOVER TWP       '
 'PALMYRA BORO            ' 'PEMBERTON BORO          '
 'PEMBERTON TWP           ' 'RIVERSIDE TWP           '
 'RIVERTON BORO           ' 'SHAMONG TWP             '
 'SOUTHAMPTON TWP         ' 'SPRINGFIELD TWP         '
 'TABERNACLE TWP          ' 'WESTAMPTON TWP          '
 'WILLINGBORO TWP         ' 'WOODLAND TWP            '
 'AUDUBON PARK BORO       ' 'BARRINGTON BORO         '
 'BELLMAWR BORO           ' 'BERLIN BORO             '
 'BERLIN TWP              ' 'BROOKLAWN BORO          '
 'CAMDEN CITY             ' 'CHERRY HILL TWP         '
 'CHESILHURST BORO        ' 'CLEMENTON BORO          '
 'COLLINGSWOOD BORO       ' 'GIBBSBORO BORO          '
 'GLOUCESTER CITY         ' 'GLOUCESTER TWP          '
 'HADDON TWP              ' 'HADDONFIELD BORO        '
 'HADDON HEIGHTS BORO     ' 'LAUREL SPRINGS BORO     '
 'LAWNSIDE BORO           ' 'LINDENWOLD BORO         '
 'MAGNOLIA BORO           ' 'MERCHANTVILLE BORO      '
 'MOUNT EPHRIAM BORO      ' 'OAKLYN BORO             '
 'PENNSAUKEN TWP          ' 'PINE HILL BORO          '
 'RUNNEMEDE BORO          ' 'SOMERDALE BORO          '
 'STRATFORD BORO          ' 'VOORHEES TWP            '
 'WATERFORD TWP           ' 'WINSLOW TWP             '
 'WOODLYNNE BORO          ' 'AVALON BORO             '
 'CAPE MAY CITY           ' 'DENNIS TWP              '
 'LOWER TWP               ' 'MIDDLE TWP              '
 'NORTH WILDWOOD CITY     ' 'OCEAN CITY              '
 'SEA ISLE CITY           ' 'STONE HARBOR BORO       '
 'UPPER TWP               ' 'WILDWOOD CITY           '
 'WILDWOOD CREST BORO     ' 'WOODBINE BORO           '
 'BRIDGETON CITY          ' 'DEERFIELD TWP           '
 'LAWRENCE TWP            ' 'MAURICE RIVER TWP       '
 'MILLVILLE CITY          ' 'UPPER DEERFIELD TWP     '
 'VINELAND CITY           ' 'BELLEVILLE TWP          '
 'BLOOMFIELD TWP          ' 'CALDWELL BORO           '
 'CEDAR GROVE TWP         ' 'EAST ORANGE CITY        '
 'ESSEX FELLS BORO        ' 'FAIRFIELD BORO          '
 'GLEN RIDGE BORO         ' 'IRVINGTON TWP           '
 'LIVINGSTON TWP          ' 'MAPLEWOOD TWP           '
 'MILLBURN TWP            ' 'MONTCLAIR TWP           '
 'NEWARK CITY             ' 'NORTH CALDWELL BORO     '
 'NUTLEY TWP              ' 'ORANGE CITY             '
 'ROSELAND BORO           ' 'SOUTH ORANGE VILLAGE TWP'
 'VERONA TWP              ' 'WEST CALDWELL TWP       '
 'WEST ORANGE TWP         ' 'CLAYTON BORO            '
 'DEPTFORD TWP            ' 'EAST GREENWICH TWP      '
 'ELK TWP                 ' 'FRANKLIN TWP            '
 'GLASSBORO BORO          ' 'GREENWICH TWP           '
 'HARRISON TWP            ' 'LOGAN TWP               '
 'MANTUA TWP              ' 'MONROE TWP              '
 'NATIONAL PARK BORO      ' 'NEWFIELD BORO           '
 'PAULSBORO BORO          ' 'PITMAN BORO             '
 'SOUTH HARRISON TWP      ' 'SWEDESBORO BORO         '
 'WENONAH BORO            ' 'WEST DEPTFORD TWP       '
 'WOODBURY CITY           ' 'WOODBURY HEIGHTS BORO   '
 'WOOLWICH TWP            ' 'BAYONNE CITY            '
 'EAST NEWARK BORO        ' 'GUTTENBERG TOWN         '
 'HARRISON TOWN           ' 'HOBOKEN CITY            '
 'JERSEY CITY             ' 'KEARNY TOWN             '
 'NORTH BERGEN TWP        ' 'SECAUCUS TOWN           '
 'UNION CITY              ' 'WEEHAWKEN TWP           '
 'WEST NEW YORK TOWN      ' 'ALEXANDRIA TWP          '
 'BETHLEHEM TWP           ' 'BLOOMSBURY BORO         '
 'CALIFON BORO            ' 'CLINTON TOWN            '
 'CLINTON TWP             ' 'DELAWARE TWP            '
 'EAST AMWELL TWP         ' 'FLEMINGTON BORO         '
 'FRENCHTOWN BORO         ' 'GLEN GARDNER BORO       '
 'HIGH BRIDGE BORO        ' 'HOLLAND TWP             '
 'LAMBERTVILLE CITY       ' 'LEBANON BORO            '
 'LEBANON TWP             ' 'MILFORD TWP             '
 'RARITAN TWP             ' 'READINGTON TWP          '
 'STOCKTON BORO           ' 'TEWKSBURY TWP           '
 'UNION TWP               ' 'WEST AMWELL TWP         '
 'EAST WINDSOR TWP        ' 'EWING TWP               '
 'HIGHTSTOWN BORO         ' 'HOPEWELL BORO           '
 'HOPEWELL TWP            ' 'PENNINGTON BORO         '
 'PRINCETON TWP           ' 'TRENTON CITY            '
 'ROBBINSVILLE TWP        ' 'WEST WINDSOR TWP        '
 'PRINCETON               ' 'CARTERET BORO           '
 'CRANBURY TWP            ' 'DUNELLEN BORO           '
 'EAST BRUNSWICK TWP      ' 'EDISON TWP              '
 'HELMETTA BORO           ' 'HIGHLAND PARK BORO      '
 'JAMESBURG BORO          ' 'OLD BRIDGE TWP          '
 'METUCHEN BORO           ' 'MIDDLESEX BORO          '
 'MILLTOWN BORO           ' 'NEW BRUNSWICK CITY      '
 'NORTH BRUNSWICK TWP     ' 'PERTH AMBOY CITY        '
 'PISCATAWAY TWP          ' 'PLAINSBORO TWP          '
 'SAYREVILLE BORO         ' 'SOUTH AMBOY CITY        '
 'SOUTH BRUNSWICK TWP     ' 'SOUTH PLAINFIELD BORO   '
 'SOUTH RIVER BORO        ' 'SPOTSWOOD BORO          '
 'WOODBRIDGE TWP          ' 'ALLENHURST BORO         '
 'ALLENTOWN BORO          ' 'ASBURY PARK CITY        '
 'ATLANTIC HIGHLANDS BORO ' 'AVON-BY-THE-SEA BORO    '
 'BELMAR BORO             ' 'BRADLEY BEACH BORO      '
 'BRIELLE BORO            ' 'COLTS NECK TWP          '
 'DEAL BORO               ' 'EATONTOWN BORO          '
 'FAIR HAVEN BORO         ' 'FREEHOLD BORO           '
 'FREEHOLD TWP            ' 'HIGHLANDS BORO          '
 'HOLMDEL TWP             ' 'HOWELL TWP              '
 'INTERLAKEN BORO         ' 'KEANSBURG BORO          '
 'KEYPORT BORO            ' 'LITTLE SILVER BORO      '
 'LOCH ARBOUR VILLAGE     ' 'LONG BRANCH CITY        '
 'MANALAPAN TWP           ' 'MANASQUAN BORO          '
 'MARLBORO TWP            ' 'MATAWAN BORO            '
 'ABERDEEN TWP            ' 'MIDDLETOWN TWP          '
 'MILLSTONE TWP           ' 'MONMOUTH BEACH BORO     '
 'NEPTUNE TWP             ' 'NEPTUNE CITY BORO       '
 'TINTON FALLS BORO       ' 'OCEAN TWP               '
 'OCEANPORT BORO          ' 'HAZLET TWP              '
 'RED BANK BORO           ' 'RUMSON BORO             '
 'SEA BRIGHT BORO         ' 'SEA GIRT BORO           '
 'SHREWSBURY BORO         ' 'LAKE COMO BORO          '
 'SPRING LAKE BORO        ' 'SPRING LAKE HEIGHTS BORO'
 'UNION BEACH BORO        ' 'WALL TWP                '
 'WEST LONG BRANCH BORO   ' 'BOONTON TOWN            '
 'BOONTON TWP             ' 'BUTLER BORO             '
 'CHATHAM BORO            ' 'CHATHAM TWP             '
 'CHESTER BORO            ' 'CHESTER TWP             '
 'DENVILLE TWP            ' 'DOVER TOWN              '
 'EAST HANOVER TWP        ' 'FLORHAM PARK BORO       '
 'HANOVER TWP             ' 'HARDING TWP             '
 'JEFFERSON TWP           ' 'KINNELON BORO           '
 'LINCOLN PARK BORO       ' 'MADISON BORO            '
 'MENDHAM BORO            ' 'MENDHAM TWP             '
 'MINE HILL TWP           ' 'MONTVILLE TWP           '
 'MORRIS TWP              ' 'MORRIS PLAINS BORO      '
 'MORRISTOWN TOWN         ' 'MOUNTAIN LAKES BORO     '
 'MOUNT ARLINGTON BORO    ' 'MOUNT OLIVE TWP         '
 'NETCONG BORO            ' 'PARSIPPANY-TROY HILLS   '
 'PASSAIC TWP             ' 'PEQUANNOCK TWP          '
 'RANDOLPH TWP            ' 'RIVERDALE BORO          '
 'ROCKAWAY BORO           ' 'ROCKAWAY TWP            '
 'ROXBURY TWP             ' 'VICTORY GARDENS BORO    '
 'WHARTON BORO            ' 'BARNEGAT LIGHT BORO     '
 'BAY HEAD BORO           ' 'BEACH HAVEN BORO        '
 'BEACHWOOD BORO          ' 'BERKELEY TWP            '
 'BRICK TWP               ' 'TOMS RIVER TWP          '
 'HARVEY CEDARS BORO      ' 'JACKSON TWP             '
 'LACEY TWP               ' 'LAKEHURST BORO          '
 'LAKEWOOD TWP            ' 'LAVALLETTE BORO         '
 'LITTLE EGG HARBOR TWP   ' 'LONG BEACH TWP          '
 'MANCHESTER TWP          ' 'OCEAN GATE BORO         '
 'PINE BEACH BORO         ' 'PLUMSTED TWP            '
 'POINT PLEASANT BORO     ' 'PT PLEASANT BEACH BORO  '
 'SEASIDE HEIGHTS BORO    ' 'SEASIDE PARK BORO       '
 'SHIP BOTTOM BORO        ' 'SOUTH TOMS RIVER BORO   '
 'STAFFORD TWP            ' 'SURF CITY BORO          '
 'TUCKERTON BORO          ' 'BARNEGAT TWP            '
 'BLOOMINGDALE BORO       ' 'CLIFTON CITY            '
 'HALEDON BORO            ' 'HAWTHORNE BORO          '
 'LITTLE FALLS TWP        ' 'NORTH HALEDON BORO      '
 'PASSAIC CITY            ' 'PATERSON CITY           '
 'POMPTON LAKES BORO      ' 'PROSPECT PARK BORO      '
 'RINGWOOD BORO           ' 'TOTOWA BORO             '
 'WANAQUE BORO            ' 'WAYNE TWP               '
 'WEST MILFORD TWP        ' 'WOODLAND PARK BORO      '
 'ELSINBORO TWP           ' 'LOWER ALLOWAYS CRK TWP  '
 'MANNINGTON TWP          ' 'OLDMANS TWP             '
 'PENNS GROVE BORO        ' 'PENNSVILLE TWP          '
 'SALEM CITY              ' 'CARNEYS POINT TWP       '
 'UPPER PITTSGROVE TWP    ' 'WOODSTOWN BORO          '
 'BEDMINSTER TWP          ' 'BERNARDS TWP            '
 'BERNARDSVILLE BORO      ' 'BOUND BROOK BORO        '
 'BRANCHBURG TWP          ' 'BRIDGEWATER TWP         '
 'FAR HILLS BORO          ' 'GREEN BROOK TWP         '
 'HILLSBOROUGH TWP        ' 'MANVILLE BORO           '
 'MONTGOMERY TWP          ' 'NORTH PLAINFIELD BORO   '
 'PEAPACK-GLADSTONE BORO  ' 'RARITAN BORO            '
 'ROCKY HILL BORO         ' 'SOMERVILLE BORO         '
 'SOUTH BOUND BROOK BORO  ' 'WARREN TWP              '
 'WATCHUNG BORO           ' 'ANDOVER BORO            '
 'ANDOVER TWP             ' 'BYRAM TWP               '
 'FRANKFORD TWP           ' 'FRANKLIN BORO           '
 'HAMBURG BORO            ' 'HAMPTON TWP             '
 'HARDYSTON TWP           ' 'HOPATCONG BORO          '
 'LAFAYETTE TWP           ' 'MONTAGUE TWP            '
 'NEWTON TOWN             ' 'OGDENSBURG BORO         '
 'SANDVSTON TWP           ' 'SPARTA TWP              '
 'STANHOPE BORO           ' 'STILLWATER TWP          '
 'SUSSEX BORO             ' 'VERNON TWP              '
 'WANTAGE TWP             ' 'BERKELEY HEIGHTS TWP    '
 'CLARK TWP               ' 'CRANFORD TWP            '
 'ELIZABETH CITY          ' 'FANWOOD BORO            '
 'GARWOOD BORO            ' 'HILLSIDE TWP            '
 'KENILWORTH BORO         ' 'LINDEN CITY             '
 'MOUNTAINSIDE BORO       ' 'NEW PROVIDENCE BORO     '
 'PLAINFIELD CITY         ' 'RAHWAY CITY             '
 'ROSELLE BORO            ' 'ROSELLE PARK BORO       '
 'SCOTCH PLAINS TWP       ' 'SUMMIT CITY             '
 'WESTFIELD TOWN          ' 'WINFIELD TWP            '
 'ALLAMUCHY TWP           ' 'ALPHA BORO              '
 'BELVIDERE TOWN          ' 'BLAIRSTOWN TWP          '
 'FRELINGHUYSEN TWP       ' 'HACKETTSTOWN TOWN       '
 'HARMONY TWP             ' 'HOPE TWP                '
 'KNOWLTON TWP            ' 'LOPATCONG TWP           '
 'OXFORD TWP              ' 'PHILLIPSBURG TOWN       '
 'POHATCONG TWP           ' 'WASHINGTON BORO         '
 'WHITE TWP               ']

In [0]:
#function and steps to get town Latitude and Longitude coordinates (for town_list above) to eventually plot on map
import os
import requests
import logging
import time

logger = logging.getLogger("root")
logger.setLevel(logging.DEBUG)
ch = logging.StreamHandler()      #console handler
ch.setLevel(logging.DEBUG)
logger.addHandler(ch)

RETURN_FULL_RESULTS = False
BACKOFF_TIME = 30
API_KEY = 'Enter Your API Key Here'
output_filename = '/content/drive/My Drive/Colab/town_with_Lat_Long.csv'
#print(addresses)
#adapted from Shane Lynn - thanks
def get_google_results(address, api_key=None, return_full_response=False):
    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?address={}".format(address)
    if api_key is not None:
        geocode_url = geocode_url + "&key={}".format(api_key)
        
        #ping google for the results:
        results = requests.get(geocode_url)
        results = results.json()             
        
        if len(results['results']) == 0:
            output = {
                "latitude": None,
                "longitude": None,
            }
        else:
            answer = results['results'][0]
            output = {
                "latitude": answer.get('geometry').get('location').get('lat'),
                "longitude": answer.get('geometry').get('location').get('lng'),
            }
            
        #append some other details
        output['input_string'] = address
        output['number_of_results'] = len(results['results'])
        output['status'] = results.get('status')
        if return_full_response is True:
            output['response'] = results
        
        return output

In [0]:
#call the function from the previous step, then store google geo coordinates in a csv file.
Lat_Long=[]
API_KEY = 'AIzaSyDdzQm4-CeG-hTgelQDjnr554Dzf4B0S3c'
for address in town_names:
    geocode_result = get_google_results(address, API_KEY, return_full_response=RETURN_FULL_RESULTS)
    Lat_Long.append(geocode_result)
#now, convert the list with our geo coordinates into a csv file that will be called by another program to overlay on a map.
pd.DataFrame(Lat_Long).to_csv('/content/drive/My Drive/Colab/town_with_Lat_Long_output.csv', encoding='utf8')

In [0]:
df6.head

<bound method NDFrame.head of      Unnamed: 0              input_string   latitude  longitude  \
0             0  ABSECON CITY              39.428450 -74.495708
1             1  ATLANTIC CITY             39.364283 -74.422927
2             2                       NaN  33.791638 -84.389488
3             3  BRIGANTINE CITY           39.410117 -74.364591
4             4  BUENA BORO                39.521646 -74.948709
5             5  BUENA VISTA TWP           39.528110 -74.896267
6             6  EGG HARBOR CITY           39.528728 -74.647936
7             7  EGG HARBOR TWP            39.382254 -74.616619
8             8  ESTELL MANOR CITY         39.412060 -74.742385
9             9  GALLOWAY TWP              39.492824 -74.559688
10           10  HAMILTON TWP              40.211511 -74.679665
11           11  HAMMONTON TOWN            39.636506 -74.802385
12           12  LINWOOD CITY              39.339838 -74.575156
13           13  LONGPORT BORO             39.312021 -74.527573
14           14  MARGATE CITY              39.327894 -74.503486
15           15  MULLICA TWP               39.590785 -74.663464
16           16  NORTHFIELD CITY           44.458298 -93.161604
17           17  PLEASANTVILLE CITY        39.389839 -74.524042
18           18  PORT REPUBLIC CITY        39.520673 -74.485707
19           19  SOMERS POINT CITY         39.316064 -74.605305
20           20  VENTNOR CITY              39.340394 -74.477373
21           21  ALLENDALE BORO            41.034445 -74.134677
22           22  ALPINE BORO               40.955932 -73.931248
23           23  BERGENFIELD BORO          40.927599 -73.997361
24           24  BOGOTA BORO               40.877322 -74.027074
25           25  CARLSTADT BORO            40.841634 -74.094772
26           26  CLIFFSIDE PARK BORO       40.821489 -73.987639
27           27  CLOSTER BORO              40.971384 -73.959277
28           28  DEMAREST BORO             40.953102 -73.953616
29           29  DUMONT BORO               40.940479 -73.998458
..          ...                       ...        ...        ...
478         478  FANWOOD BORO              40.640936 -74.383484
479         479  GARWOOD BORO              40.651081 -74.325777
480         480  HILLSIDE TWP              40.695504 -74.228733
481         481  KENILWORTH BORO           40.676491 -74.290703
482         482  LINDEN CITY               42.814473 -83.782453
483         483  MOUNTAINSIDE BORO         40.671780 -74.355952
484         484  NEW PROVIDENCE BORO       40.699699 -74.399798
485         485  PLAINFIELD CITY           40.633714 -74.407374
486         486  RAHWAY CITY               40.608159 -74.277647
487         487  ROSELLE BORO              40.652098 -74.270751
488         488  ROSELLE PARK BORO         40.661717 -74.260220
489         489  SCOTCH PLAINS TWP         40.640040 -74.369018
490         490  SUMMIT CITY               41.075642 -85.209284
491         491  WESTFIELD TOWN            40.658991 -74.347372
492         492  WINFIELD TWP              40.772336 -79.728770
493         493  ALLAMUCHY TWP             40.921765 -74.810166
494         494  ALPHA BORO                40.667044 -75.157397
495         495  BELVIDERE TOWN            40.829820 -75.077675
496         496  BLAIRSTOWN TWP            40.983102 -74.958940
497         497  FRELINGHUYSEN TWP         40.968410 -74.885799
498         498  HACKETTSTOWN TOWN         40.853988 -74.829056
499         499  HARMONY TWP               40.746765 -75.137397
500         500  HOPE TWP                  40.911118 -74.967363
501         501  KNOWLTON TWP              40.930895 -75.027358
502         502  LOPATCONG TWP             40.712792 -75.160375
503         503  OXFORD TWP                42.826953 -83.297170
504         504  PHILLIPSBURG TOWN         40.693710 -75.190176
505         505  POHATCONG TWP             40.633355 -75.160375
506         506  WASHINGTON BORO           40.758433 -74.979338
507         507  WHITE TWP                 40.812195 -75.049433

     number_of_results status
0                    1     OK
1                    1     OK
2                    1     OK
3                    1     OK
4                    1     OK
5                    1     OK
6                    1     OK
7                    1     OK
8                    1     OK
9                    1     OK
10                   1     OK
11                   1     OK
12                   1     OK
13                   2     OK
14                   1     OK
15                   1     OK
16                   1     OK
17                   1     OK
18                   1     OK
19                   1     OK
20                   1     OK
21                   1     OK
22                   1     OK
23                   1     OK
24                   1     OK
25                   2     OK
26                   1     OK
27                   6     OK
28                   1     OK
29                   1     OK
..                 ...    ...
478                  1     OK
479                  1     OK
480                  1     OK
481                  1     OK
482                  1     OK
483                  3     OK
484                  1     OK
485                  1     OK
486                  1     OK
487                  1     OK
488                  1     OK
489                  1     OK
490                  1     OK
491                  1     OK
492                  1     OK
493                  1     OK
494                  2     OK
495                  1     OK
496                  1     OK
497                  1     OK
498                  1     OK
499                  1     OK
500                  1     OK
501                  1     OK
502                  1     OK
503                 10     OK
504                  1     OK
505                  1     OK
506                  1     OK
507                  1     OK

[508 rows x 6 columns]>

In [0]:
#read the csv file that has the latitude and longitude for the records in df2, which originally did NOT have latitude and longitude
df6 = pd.read_csv('/content/drive/My Drive/Colab/town_with_Lat_Long_output.csv')
df6.shape

#pd.merge(df6, df7, on="Municipality Name")
dfinal = df6.merge(df7, on="Municipality Name", how = 'inner')

In [0]:
dfinal.head

<bound method NDFrame.head of      Num         Municipality Name   latitude  longitude  number_of_results  \
0      0  ABSECON CITY              39.428450 -74.495708                  1
1      1  ATLANTIC CITY             39.364283 -74.422927                  1
2      3  BRIGANTINE CITY           39.410117 -74.364591                  1
3      4  BUENA BORO                39.521646 -74.948709                  1
4      5  BUENA VISTA TWP           39.528110 -74.896267                  1
5      6  EGG HARBOR CITY           39.528728 -74.647936                  1
6      7  EGG HARBOR TWP            39.382254 -74.616619                  1
7      8  ESTELL MANOR CITY         39.412060 -74.742385                  1
8      9  GALLOWAY TWP              39.492824 -74.559688                  1
9     10  HAMILTON TWP              40.211511 -74.679665                  1
10    11  HAMMONTON TOWN            39.636506 -74.802385                  1
11    12  LINWOOD CITY              39.339838 -74.575156                  1
12    13  LONGPORT BORO             39.312021 -74.527573                  2
13    14  MARGATE CITY              39.327894 -74.503486                  1
14    15  MULLICA TWP               39.590785 -74.663464                  1
15    16  NORTHFIELD CITY           44.458298 -93.161604                  1
16    17  PLEASANTVILLE CITY        39.389839 -74.524042                  1
17    18  PORT REPUBLIC CITY        39.520673 -74.485707                  1
18    19  SOMERS POINT CITY         39.316064 -74.605305                  1
19    20  VENTNOR CITY              39.340394 -74.477373                  1
20    21  ALLENDALE BORO            41.034445 -74.134677                  1
21    22  ALPINE BORO               40.955932 -73.931248                  1
22    23  BERGENFIELD BORO          40.927599 -73.997361                  1
23    24  BOGOTA BORO               40.877322 -74.027074                  1
24    25  CARLSTADT BORO            40.841634 -74.094772                  2
25    26  CLIFFSIDE PARK BORO       40.821489 -73.987639                  1
26    27  CLOSTER BORO              40.971384 -73.959277                  6
27    28  DEMAREST BORO             40.953102 -73.953616                  1
28    29  DUMONT BORO               40.940479 -73.998458                  1
29    30  ELMWOOD PARK BORO         40.900682 -74.124068                  1
..   ...                       ...        ...        ...                ...
477  478  FANWOOD BORO              40.640936 -74.383484                  1
478  479  GARWOOD BORO              40.651081 -74.325777                  1
479  480  HILLSIDE TWP              40.695504 -74.228733                  1
480  481  KENILWORTH BORO           40.676491 -74.290703                  1
481  482  LINDEN CITY               42.814473 -83.782453                  1
482  483  MOUNTAINSIDE BORO         40.671780 -74.355952                  3
483  484  NEW PROVIDENCE BORO       40.699699 -74.399798                  1
484  485  PLAINFIELD CITY           40.633714 -74.407374                  1
485  486  RAHWAY CITY               40.608159 -74.277647                  1
486  487  ROSELLE BORO              40.652098 -74.270751                  1
487  488  ROSELLE PARK BORO         40.661717 -74.260220                  1
488  489  SCOTCH PLAINS TWP         40.640040 -74.369018                  1
489  490  SUMMIT CITY               41.075642 -85.209284                  1
490  491  WESTFIELD TOWN            40.658991 -74.347372                  1
491  492  WINFIELD TWP              40.772336 -79.728770                  1
492  493  ALLAMUCHY TWP             40.921765 -74.810166                  1
493  494  ALPHA BORO                40.667044 -75.157397                  2
494  495  BELVIDERE TOWN            40.829820 -75.077675                  1
495  496  BLAIRSTOWN TWP            40.983102 -74.958940                  1
496  497  FRELINGHUYSEN TWP         40.968410 -74.885799                  1
497  498  HACKETTSTOWN TOWN         40.853988 -74.829056                  1
498  499  HARMONY TWP               40.746765 -75.137397                  1
499  500  HOPE TWP                  40.911118 -74.967363                  1
500  501  KNOWLTON TWP              40.930895 -75.027358                  1
501  502  LOPATCONG TWP             40.712792 -75.160375                  1
502  503  OXFORD TWP                42.826953 -83.297170                 10
503  504  PHILLIPSBURG TOWN         40.693710 -75.190176                  1
504  505  POHATCONG TWP             40.633355 -75.160375                  1
505  506  WASHINGTON BORO           40.758433 -74.979338                  1
506  507  WHITE TWP                 40.812195 -75.049433                  1

    status  count
0       OK    284
1       OK   1634
2       OK    124
3       OK     23
4       OK      1
5       OK     13
6       OK   1123
7       OK      1
8       OK    730
9       OK   2417
10      OK    399
11      OK    118
12      OK     26
13      OK    170
14      OK    142
15      OK     74
16      OK    358
17      OK      1
18      OK    241
19      OK    179
20      OK     57
21      OK     70
22      OK    443
23      OK    104
24      OK    335
25      OK    468
26      OK     92
27      OK     63
28      OK      3
29      OK    598
..     ...    ...
477     OK    137
478     OK     97
479     OK    821
480     OK     99
481     OK   1570
482     OK    192
483     OK    242
484     OK    992
485     OK   1107
486     OK    246
487     OK    324
488     OK    523
489     OK    542
490     OK    584
491     OK      2
492     OK      6
493     OK      4
494     OK     13
495     OK     50
496     OK      4
497     OK    210
498     OK      3
499     OK      3
500     OK      4
501     OK    111
502     OK     26
503     OK    330
504     OK    163
505     OK    101
506     OK     11

[507 rows x 7 columns]>

In [0]:
#df5.head
#pd.DataFrame(df5).to_csv('/content/drive/My Drive/Colab/df5_output.csv', encoding='utf8')
df7 = pd.read_csv('/content/drive/My Drive/Colab/df5_output.csv')
df7.head

<bound method NDFrame.head of             Municipality Name  count
0    NEWARK CITY                9919
1    JERSEY CITY                7738
2    PATERSON CITY              5761
3    ELIZABETH CITY             4119
4    EDISON TWP                 3340
5    WOODBRIDGE TWP             2949
6    NORTH BERGEN TWP           2554
7    UNION TWP                  2537
8    PARAMUS BORO               2527
9    HAMILTON TWP               2417
10   FRANKLIN TWP               2301
11   CHERRY HILL TWP            2206
12   HACKENSACK CITY            2189
13   IRVINGTON TWP              2080
14   EAST ORANGE CITY           1976
15   PASSAIC CITY               1960
16   OLD BRIDGE TWP             1865
17   SOUTH BRUNSWICK TWP        1831
18   NEW BRUNSWICK CITY         1803
19   BRICK TWP                  1740
20   CAMDEN CITY                1672
21   ATLANTIC CITY              1634
22   BRIDGEWATER TWP            1627
23   LINDEN CITY                1570
24   EAST BRUNSWICK TWP         1513
25   TEANECK TWP                1511
26   PERTH AMBOY CITY           1430
27   GLOUCESTER TWP             1403
28   MONTCLAIR TWP              1389
29   TRENTON CITY               1379
..                        ...    ...
477  FRANKFORD TWP                 1
478  NEWFIELD BORO                 1
479  ESTELL MANOR CITY             1
480  OLDMANS TWP                   1
481  SOUTHAMPTON TWP               1
482  BASS RIVER TWP                1
483  LAWNSIDE BORO                 1
484  PORT REPUBLIC CITY            1
485  STOCKTON BORO                 1
486  HELMETTA BORO                 1
487  BUENA VISTA TWP               1
488  SUSSEX BORO                   1
489  SWEDESBORO BORO               1
490  BLOOMSBURY BORO               1
491  HAWORTH BORO                  1
492  SHAMONG TWP                   1
493  BYRAM TWP                     1
494  SANDVSTON TWP                 1
495  MONTAGUE TWP                  1
496  UPPER DEERFIELD TWP           1
497  MOONACHIE BORO                1
498  HAMPTON TWP                   1
499  HAINESPORT TWP                1
500  ROCKY HILL BORO               1
501  STILLWATER TWP                1
502  DEERFIELD TWP                 1
503  BARNEGAT LIGHT BORO           1
504  WATERFORD TWP                 1
505  GLEN GARDNER BORO             1
506  MILFORD TWP                   1

[507 rows x 2 columns]>

In [0]:
from folium.plugins import HeatMap
def generateBaseMap(default_location=[40.5397293,-74.6273494], default_zoom_start=12):
    base_map = folium.Map(location=default_location, control_scale=True, zoom_start=default_zoom_start)
    return base_map

base_map = generateBaseMap()
base_map
m = HeatMap(data=dfinal[['latitude', 'longitude', 'count']].groupby(['latitude','longitude']).sum().reset_index().values.tolist(), radius=7, max_zoom=10).add_to(base_map)
m.save('/content/drive/My Drive/Colab/heatmap_town_total_accidents_2017.html')